#form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.input{
    padding: 11px 12px 13px;
    height: 30px;
    font-size: 18px;
    line-height: 1.33333333;
    margin-bottom: 15px;
    border-radius: 4px;
    width: 90%;
    border: 1px solid rgba(29,28,29,.3);
    font-family: 'Lato', sans-serif;
    margin: 0 0 20px;
    transition: border 80ms ease-out,box-shadow 80ms ease-out;
    outline: initial;
}

#submit{
    background-color: #4a154b;
    color: white;
    padding: 11px 12px 13px;
    height: 50px;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

#label{
    align-self: start;
    font-weight: bold;
}

.demo {
    color: #4285f4;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    font-family: inherit;
    border: 2px solid #4285f4;
    height: 44px;
    min-width: 96px;
    padding: 0 16px 3px;
    box-shadow: none;
    background-color: #fff;
    border-radius: 5px;

}