
.reaction {
    cursor: pointer;
    width: fit-content;
    background-color: rgb(238, 238, 238);
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    margin-right: 5px;
    border: 1px white solid
}

.reaction:hover {
    border: 1px gray solid
}

.emoji-list {
    display: flex;
    margin-left: 70px;
    margin-top: -10px;
    font-size: 14px;
}

.make-emoji {
    display: flex;
    margin-right: 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border: rgb(179, 179, 179) 1px solid;
    border-radius: 8px;
    height: fit-content;
    z-index: 1;
}

.emojis-modal {
    position: absolute;
}

#list-of-emojis{
    position: absolute;
    display: flex;
    margin-top: -38px;
    border: rgb(179, 179, 179) 1px solid;
    margin-left: -60px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.choose-emoji{
    cursor: pointer;
    padding: 1px;
    border-radius: 5px;
}

.choose-emoji:hover{
    background-color: rgb(16, 68, 52);
}

.react-hilight {
    border: rgb(121, 121, 161) 1px solid;
    background-color: rgba(210, 255, 255, 0.973);
}

.reaction-dark {
    background-color: rgb(46, 46, 46);
}

.react-hilight-dark {
    background-color: rgb(52, 102, 158);
}


p[title]::after {
    content: attr(title);
    display: block;
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  p[title]:hover::after {
    opacity: 1;
  }