.message__author{
    font-weight: 900;
    cursor: pointer;
}

.message__author:hover{
    text-decoration: underline;
}

.message__timestamp{
    font-size: 10px;
    margin-left: 10px;
    color: gray
}

.message__body {
    margin-top: 2px;
    font-size: 15px;
    line-height: 1.46668;
}

.message {
    display: flex
}

.message-content{
    display:table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


#pfp3 {
    height:40px;
    width:40px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: white;
}

#editted{
    margin-left: 3px;
    font-size: 11px;
    color: rgba(128, 128, 128, 0.788);
}

.message-2{
    padding: 7px 8px 17px 70px;
    font-size: 15px;
    font-weight: 400;
}
