.room-home-div {
    display: flex;
    float: left;
    clear: none;
    background-color: white;
    transition: background-color .5s ease;
}


.messages-box {
    display: flex;
    flex-direction: column;
    height: 95%;
    max-height: 75vh;
    width: 100%;
    overflow: hidden;
    overflow-y: scroll;
}

.room-home-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.border-under {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;
    position: sticky;
    padding-left: 20px;
    top:0;
    background-color: white;
    transition: background-color .5s ease;
}

.message{
    font-family: 'Lato', sans-serif;
    line-height: 1.46668;
    font-size: 15px;
    text-align: left;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px
}

.message-editted {
    background-color: rgba(92, 92, 92, 0.068);
}

.message-back{
    width: 100%;
}

.message-back:hover{
    background-color: rgb(236, 236, 236);
}

.dark-hover:hover {
    background-color: rgba(201, 200, 200, 0.03);
}

.send-chat {
    width: 90%;
    border-radius: 5px;
    height: 75px;
    margin: 20px;
    padding-left: 10px;
    padding-top: 15px;
    font-size: 15px;
    resize: none;
    font-family: 'Lato', sans-serif;
}

.send-chat::placeholder{
    font-family: 'Lato', sans-serif;
}

.send-chat-dark {
    background-color: rgb(48, 42, 54);
    color: white;
    transition: background-color .5s ease;
}

.right-div{
    float: right;
    border: solid black 1px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin-right: 20px;
}

.right-div-dark{
    border: solid white 1px;
}


.btn-delete {
    cursor:pointer;
    display: inline;
    margin-right: 50px;
    color: red
}

.message-x{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.p1 {
    font-weight: bold;
}

.p2 {
    color: rgb(97, 97, 97);
    margin-top: 5px;
}

.p2-dark {
    color :rgba(192, 192, 192, 0.842)
}

.start {
    margin-left: 20px;
    margin-top: auto;
    margin-bottom: 20px;
    padding-top: 20px;
}

.blue {
    color: rgba(15, 15, 221, 0.753);
    cursor: pointer;
    transition: color ease 0.5s;
}

.blue-dark{
    color: #2296aa;
    transition: color ease 0.5s;
}

.user-list {
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.user-list:hover {
    background-color: rgb(236, 236, 236);
}

.user-list-dark:hover{
    background-color: #e6e6e60e;
}

#pfp4{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    font-size: 40px;
    width:40px;
    height: 40px;
    border-radius: 5px;
}

#pfp5{
    padding-left: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.users-modal{
    z-index: 1;
    background-color: white;
    height: 70%;
    max-height: 800px;
    width: 50%;
    max-width: 520px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    padding-left: 20px;
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 30px;
    transition: background-color .5s ease;
}

.users-modal-dark{
    background-color: #1A1D21;
    transition: background-color .5s ease;
}

.options {
    position:static;
    margin-right: 20px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: -40px;
    border: rgb(179, 179, 179) 1px solid;
    border-radius: 8px;
    height: fit-content;
}

.message-x .options {
    display: none;
}

.message-x:hover .options{
    display: flex;
}


.message-x .react-list {
    opacity: 0;
}

.message-x:hover .react-list{
    opacity: 1;
}


#react {
    width: 30px;
    height: 30px;
    padding: 4px;
    cursor: pointer;
}

#react:hover{
    background-color: #adadad57;
    border-radius: 10px;
}

#more-options {
    height: 30px;
    cursor: pointer;
}

#more-options:hover{
    background-color: #adadad57;
    border-radius: 10px;
}

#edit {
    height: 30px;
    cursor: pointer;
    padding: 6px;
    margin-right: 4px;
}

#edit:hover{
    background-color: #adadad57;
    border-radius: 10px;
}

#trash {
    height: 30px;
    cursor: pointer;
    padding: 6px;
}

#trash:hover{
    background-color: #adadad57;
    border-radius: 10px;
}

#message-form{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.submit-arrow{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin-left: -80px;
    margin-bottom: -30px;
    border-radius: 5px;
    height: fit-content;
}

.submit-arrow-dark{
    color: white;
}

.submit-background{
    cursor: pointer;
    color: white;
    background-color: rgb(10, 99, 17);
    transition: background-color .5s ease;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

::-webkit-scrollbar-thumb {
    background-color: rgba(136, 135, 135, 0.541);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(136, 135, 135, 0.541);
    border-radius: 5px;
  }


  .dark-chat {
    background-color: #1A1D21;
    color: rgb(216, 216, 216);
    transition: background-color .5s ease;
}

.update-form {
    display: flex;
    background-color: beige;
}

.update-dark{
    background-color: rgb(66, 66, 28);
}

.edit-buttons{
    display: flex;
    align-items: center;
    margin-left: -200px;
    margin-bottom: -40px;
}

.cancel-edit{
    font-size: 12px;
    cursor: pointer;
    color: inherit;
    border: 1px solid #adadad;
    background-color: white;
    color: black;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
}

.save-edit {
    font-size: 12px;
    cursor: pointer;
    color: inherit;
    border: 1px solid #adadad;
    background-color: rgb(10, 99, 17);
    color: white;
    padding: 3px;
    padding-top: 6px;
    padding-bottom: 6px;
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 20px;
}

.chat-header {
    display: flex;
    align-items: center;
}

.channel-name-top {
    cursor: pointer;
    font-weight: bold;
    font-size: 17px;
    padding: 8px;
    border-radius: 10px;
}

.channel-name-top:hover{
    background-color: #63626221;
}

.down-caret{
    margin-left: 2px;
    font-size: 12px;
}

.channel-description-top{
    margin-left: 20px;
    margin-top: 8px;
    font-size: 13px;
    font-weight: 400;
}

#pfp10 {
    border-radius: 10px;
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

.start-dm {
    display: flex;
}

#dm-name{
    margin-left: 20px;
    margin-top: 15px;
}

#stronger{
    font-weight: bold;
    margin-bottom: 7px;
}

#weaker{
    color: #444343;
}

#members-list{
    height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

#user-list-modal{
    display: flex;
    align-items: center;
}

#hashtag{
    font-size: 25px;
    margin-right: 6px;
}

#hash-name{
    display: flex;
    align-items: center;
    font-weight: bolder;
}