.message__author{
    font-weight: 900;
    cursor: pointer;
}

.message__author:hover{
    text-decoration: underline;
}

.message__timestamp{
    font-size: 10px;
    margin-left: 10px;
    color: gray
}

.message__body {
    margin-top: 2px;
}

.message {
    display: flex
}

.message-content{
    display:table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.img-div{
    display: flex;
    justify-content: center;
    align-items: center;
}


#pfp3 {
    height:40px;
    border-radius: 5px;
    border: 1px solid black;
}