.room-home-div {
    float: left;
    clear: none;
    background-color: white;
    display: flex;
}

.messages-box {
    height: 100%;
    max-height: 75vh;
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
}

.room-home-section {
    display: block;
    width: 100%;
}

#border-under {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px rgb(202, 202, 202) solid;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: sticky;
    top:0;
    background-color: white;
}

.message{
    font-family: 'Lato', sans-serif;
    line-height: 1.46668;
    font-size: 15px;
    text-align: left;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    padding-left: 20px;
    padding-bottom: 15px;
    padding-top: 15px
}

.message-x:hover {
    background-color: rgb(236, 236, 236);
}

#send-chat {
    width: 90%;
    border-radius: 5px;
    height: 50px;
    margin: 20px;
    text-indent: 10px;
    padding-top: 10px;
    resize: none;
}

.right-div{
    float: right;
    border: solid black 1px;
    cursor: pointer;
    border-radius: 5px;
    padding: 8px;
    margin-right: 20px;
}

#send-chat::placeholder{
    text-indent: 10px;
    font-family: 'Lato', sans-serif;
}

.btn-delete {
    cursor:pointer;
    display: inline;
    margin-right: 50px;
    color: red
}

.message-x{
    display: flex;
    justify-content: space-between;
}

.p1 {
    font-weight: bold;
}

.p2 {
    color: rgb(97, 97, 97);
    margin-top: 5px;
}

.start {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.blue {
    color: rgba(15, 15, 221, 0.753);
    cursor: pointer;
}

.user-list {
    display: flex;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.user-list:hover {
    background-color: rgb(236, 236, 236);
}

#pfp4{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(192, 192, 192);
    font-size: 40px;
    width:40px;
    height: 40px;
    border-radius: 5px;
}

#pfp5{
    padding-left: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
}

#users-modal{
    z-index: 1;
    background-color: white;
    height: 400px;
    max-width: 520px;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    padding-left: 20px;
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 30px;
    overflow:auto;
}

.options {
    display: flex;
    margin-right: 15px;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    border: rgb(179, 179, 179) 1px solid;
    border-radius: 8px;
    height: fit-content;
}

.message-x .options {
    opacity: 0;
}

.message-x:hover .options{
    opacity: 1;
}


.message-x .react-list {
    opacity: 0;
}

.message-x:hover .react-list{
    opacity: 1;
}


#react {
    width: 20px;
    height: 20px;
    margin: 7px;
    cursor: pointer;
}

#more-options {
    height: 30px;
    cursor: pointer;
}

#trash {
    height: 30px;
    cursor: pointer;
    padding: 6px;
}

#message-form{
    display: flex;
    align-items: center;
}

.submit-arrow{
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
    height: fit-content;
    border: 1px solid black;
}

.submit-background{
    cursor: pointer;
    color: white;
    background-color: #8b268d;
    transition: background-color .5s ease;
}

/* #react:hover{
    background-color: rgb(236, 236, 236);
} */