.nav-link {
    display: inline-block;
    color: white;
    border: 1px solid transparent;
    text-decoration: none;
    font-weight: 700;
    margin-left: 30px;
}

#top-splash {
    background-color: #541554;
    padding-left: 15%;
    padding-right: 15%;
}

.under-nav{
    display: flex;
    padding-top: 50px;
    padding-bottom: 100px;
}

.top-text{
    padding-left: 30px;
    text-align: left;
    margin-right: 50px;
}

.top-text, .video-background {
    display: inline-block;
    width: 50%;
}

.head-text {
    font-size: 60px;
    font-weight: bolder;
    color: white;
}

.under-nav p {
    color: white;
    font-size: 20px;
    padding-top: 20px;
}

.text-yellow{
    color: #ecb22e;
}

#cascade{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trust{
    padding: 40px;
    font-weight: bold;
}

.companies{
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}

.info-div{
    margin-top: 100px;
    margin-bottom: 100px;
}
