.userInfo {
    height: 100%;
    width: 500px;
    border-left: 1px gray solid;
}

.show-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    border-bottom: 1px gray solid;
    text-align:left;
    padding: 12px;
    font-weight: bold;
}

#pfp6 {
    max-width: 70%;
    border-radius: 10px;
    margin-top: 20px;
    border: 1px black solid;
    background-color: white;
}

.close-user-modal{
    float: right;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    border-radius: 5px;
}

.close-user-modal:hover{
    background-color:rgba(230, 230, 230, 0.596);
}

#show-name {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 22px;
}

.message-button {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    font-weight: bold;
    border: solid rgba(126, 126, 126, 0.705) 1px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    cursor: pointer;
}

.message-button:hover{
    background-color:rgba(230, 230, 230, 0.219);
}

.message-button-dark {
    color: white;
}

#msg-img{
    width: 30px;
}

#user-status-show{
    margin-left: 15px;
}

#contact{
    align-items: center;
    display: flex;
    font-size: 15px;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 20px
}

#email-logo{
    height: 30px;
}

#email-container{
    display: flex;
    margin-left: 20px;
    margin-top: 15px;
}

#email{
    margin-left: 10px;
}

#email h2{
    color: rgb(143, 142, 142);
    font-size: 12px;
}

#email p{
    color: #2296aa;
    cursor: pointer;
}

#email p:hover{
    text-decoration: underline;
}