.header-div {
    background: #350d36;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    align-items: center;
    display: flex;
    grid-area: header-div;
    position: relative;
    height: 45px;
}

.header-dark {
    background-color: #1a1117;
}

.links {
    display: flex;
}

.searchBar{
    display:flex;
    color: white;
    background-color: #603c5c;
    border-radius: 5px;
    margin-left: 15%;
    width: 45%;
    height: 22px;
}

.searchBar::placeholder{
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: 500;
}

.search-dark{
    background-color: #3a3a3ac7;
}

#pfp {
    height: 60%;
    border-radius: 5px;
    position:absolute;
    right: 20px;
    cursor: pointer;
}

#pfp2 {
    height:40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 15px;
}

#modal-back-users {
    position: fixed;
    z-index : 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-users {
    border: gray solid 1px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    height: fit-content;
    padding-bottom: 20px;
    width: 300px;
    position: absolute;
    top: 43px;
    right: 5px;
    background-color: white;
    display: grid;
    grid-template-areas: 
    'pfp2' 'name';
    transition: background-color 0.5s ease;
}

.modal-users-dark{
    background-color: rgb(46, 46, 46);
    color: rgb(216, 216, 216);
    transition: background-color 0.5s ease;
}

#pfp-name{
    display:flex;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: rgb(211, 198, 198) solid 1px;
}

#name {
    margin-left: 10px;
    font-weight: 600;
}

#logout{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    text-align: left;
    color: inherit;
}

#logout-div{
    display:flex;
    align-items: center;
    padding-top: 10px;
}

#logout:hover{
    background-color: #1864a4;
    color: white;
}

#logo {
    margin: 10px
}

.switch {
    height: 100px;
    position: fixed;
    right: 50px;
    top: 50px;
}
    
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border: solid 1px white;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}