#logo {
    height: 10%;
    width: 10%
}

#block {
    display: block;
    text-align: center;
    flex-direction: column;
    align-content: center;
    margin-top: 5%;
    font-family: 'Lato', sans-serif;
}

.head {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
        font-weight: bold;
}

#form {
    margin:auto
}

#top {
    display: flex;
    justify-content: center;
}

#new {
    align-self: flex-end;
    float: right;
}

#navlink {
    color: #1264a3;
    text-decoration: none;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
}