.modal-about {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgb(240, 240, 240);
    height: fit-content;
    max-width: 60%;
    min-height: 500px;
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    padding-bottom: 50px;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    overflow: auto;
}


.modal-about-dark {
    background-color: #232529;
    color: rgb(216, 216, 216);
}

.top-about{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

.top-about-container{
    background-color: white;
}

#about-channel{
    font-weight: bold;
    font-size: 22px;
}

#about-x{
    font-size: 22px;
    margin-top: -10px;
    padding-top: 2px;
    padding-bottom: 4px;
    padding-left: 14px;
    padding-right:14px;
    border-radius: 5px;
    cursor: pointer;
}

#about-x:hover{
    background-color: #6363631f;
}

.about-members {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    margin-top: 25px;
    align-items: center;
    text-align: center;
}

.tabs{
    cursor: pointer;
    margin-right: 30px;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    padding-bottom: 5px;
}

#users-length {
    font-weight: normal;
    font-size: 13px;
    padding-left: 5px;
    color: #adadad;
}

.top-about-container-dark{
    background-color: #1c1d20;
}

.tab-selected{
    border-bottom: green 2px solid;
}

.about-div{
    background-color: white;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    border: rgba(146, 145, 145, 0.301) solid 1px;
    border-radius: 5px;
}

.about-div-dark{
    background-color: #1c1d20;
}

.about-div section{
    padding: 15px;
}

.about-div section:hover{
    background-color: rgba(73, 73, 73, 0.24);
}

.about-div section h2 {
    font-weight: bold;
}

.sec2{
    border-bottom: rgba(146, 145, 145, 0.301) solid 1px;
    border-top: rgba(146, 145, 145, 0.301) solid 1px;
}

.delete-sec{
    color: rgb(211, 7, 7);
    cursor: pointer;
    border-top: rgba(146, 145, 145, 0.301) solid 1px;
}

.add-edit{
    display: flex;
    justify-content: space-between;
}

.edit-in-modal{
    font-size: 12px;
    cursor: pointer;
    color: #1d9bd1;
}


.edit-in-modal:hover{
    text-decoration: underline;
}

.bottom-about-container{
    margin-top: 20px;
}

.user-list-about {
    display: flex;
    cursor: pointer;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    overflow: hidden;
}

.user-list-about:hover{
    background-color: #e6e6e68f;
}

.user-list-about-dark:hover{
    background-color: #e6e6e60e;
}

.change-modal{
    display: flex;
    position: fixed;
    flex-direction: column;
    z-index: 99;
    height: fit-content;
    background-color: rgb(240, 240, 240);
    max-width: 60%;
    width: 470px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    padding-bottom: 30px;
    padding-right: 30px;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    overflow: auto;
}

.modal-back-2 {
    position: fixed;
    z-index : 99;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.438);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-back-2-dark{
    background-color: rgba(7, 7, 7, 0.582);
}

.change-channel{
    font-weight: bolder;
    font-size: 24px;
}

.edit-form {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}

.edit-form h2{
    font-weight: bold;
    padding-bottom: 8px;
}

.edit-form p{
    color: #3a3a3a;
    font-size: 12px;
    letter-spacing: 0.3px;
}

.edit-form-dark p{
    color: rgb(180, 179, 179);
}

.edit-buttons2{
    display: flex;
    justify-content: flex-end;
}

.update-text{
    border: #ababab solid 1px;
    border-radius: 5px;
    font: inherit;
    font-size: 18px;
    height: 20px;
    width: 100%;
    line-height: 1.33333333;
    padding: 11px 12px 13px;
}

.update-text-dark{
    background-color: #202124;
    color: white;
}

.update-text:focus{
    outline: none;
    box-shadow: 0 0 15px #719ECE;
}

.update-desc{
    border: #ababab solid 1px;
    border-radius: 5px;
    font: inherit;
    font-size: 13px;
    height: 100px;
    width: 100%;
    line-height: 1.33333333;
    padding: 11px 12px 13px;
    resize: none;
    overflow: hidden;
}

.update-desc-dark{
    background-color: #202124;
    color: white;
}


.update-desc:focus{
    outline: none;
    box-shadow: 0 0 15px #719ECE;
}

.change-modal-dark{
    background-color: #202124;
}

.cancel-channel-edit{
    cursor: pointer;
    color: inherit;
    border: 1px solid #adadad;
    background-color: white;
    color: black;
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
}

.cancel-channel-edit-dark{
    background-color: #202124;
    color: white;
}