#main {
    display: grid;
    grid-template-areas: 
    'header-div header-div'
    'channels room';
    grid-template-columns: 13% 87%;
}

.channels {
    background-color: #3F0E40;
    height: 100vh;
    width: 260px;
    float: left;
}

.messaging {
    background-color: gray
}

.form {
    margin:auto
}

#plus {
    background-color: gray;
    padding-left: 1px;
    border-radius: 3px;
}