.video {
    width: 40vw;
}

.video-left{
    width: 30vw;
    border-top-right-radius: 210px;
    border-bottom-right-radius: 210px;
}

.video-right{
    width: 30vw;
    border-top-left-radius: 210px;
    border-bottom-left-radius: 210px;
}