.header-div {
    background: #350d36;
    box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
    align-items: center;
    display: flex;
    grid-area: header-div;
    position: relative;
    height: 45px;
}

.header-dark {
    background-color: #1a1117;
}

.links {
    display: flex;
}

.searchBar{
    display:flex;
    align-items: center;
    color: white;
    background-color: #603c5c;
    border-radius: 4px;
    padding-left: 15px;
    width: 100%;
    height: 26px;
    border-style: none;
    cursor: pointer;
}

.searchBar:hover{
    background-color: #adadad3b;
}

.searchBar::placeholder{
    font-family: 'Lato', sans-serif;
    color:white;
    font-weight: 500;
}

.search-dark{
    background-color: #3a3a3ac7;
}

#pfp {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    position:absolute;
    right: 20px;
    cursor: pointer;
    background-color: white;
}

#pfp:hover{
    opacity: 70%;
}

#pfp2 {
    height:40px;
    width:40px;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 15px;
    margin-left: 15px;
    background-color: white;
}

#modal-back-users {
    position: fixed;
    z-index : 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-users {
    border: gray solid 1px;
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    height: fit-content;
    padding-bottom: 20px;
    width: 300px;
    position: absolute;
    top: 43px;
    right: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease;
}

.modal-users-dark{
    background-color: rgb(46, 46, 46);
    color: rgb(216, 216, 216);
    transition: background-color 0.5s ease;
}

#pfp-name{
    display:flex;
    align-items: center;
    padding-bottom: 15px;
    border-bottom: rgb(211, 198, 198) solid 1px;
}

#name {
    margin-left: 10px;
    font-weight: 600;
}

#logout{
    cursor: pointer;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    text-align: left;
    color: inherit;
}

#logout-div{
    display:flex;
    align-items: center;
    padding-top: 10px;
}

#logout:hover{
    background-color: #1864a4;
    color: white;
}

#logo {
    margin: 10px
}

.switch {
    display: flex;
    flex-direction: column;
    align-items: center;    
    position: fixed;
    right: 40px;
    top: 55px;
}
    
.theme-switch {
  margin-top: 5px;
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
  border: solid 1px white;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #2b2b2b;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.change-pfp {
    display: flex;
    flex-direction: column;
    height: 100px;
    padding-bottom: 15px;
}

.update-pfp {
    color: inherit;
    border: 1px solid #adadad;
    background-color: rgb(128, 128, 128);
    color: white;
    padding: 10px;
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 20px;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #adadad;
    background-color: gray;
    display: inline-block;
    color: white;
    padding: 6px 12px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 10px;
    font-weight: bold;
}

.custom-file-upload:hover{
    background-color: purple;
    transition: background-color 0.5s ease;
}

.files-container{
    height: 50vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: dashed rgba(80, 80, 80, 0.616) 3px;
}

.button-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.uploaded{
    background-color: rgb(10, 99, 17);
    cursor: pointer;
}

.modal-upload {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    height: 80vh;
    max-width: 520px;
    width: 50%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    padding-left: 20px;
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 30px;
    overflow: auto;
}


.modal-upload-dark {
    background-color: rgb(39, 39, 39); 
    color: rgb(216, 216, 216);
}

#add-pfp {
    font-weight: bold;
    font-size: 20px;
}

#pfp8{
    height: 8vh;
    width: 8vh;
    border-radius: 10px;
    margin-right: 15px;
}

#preview{
    font-size: 13px;
    color: rgba(177, 177, 177, 0.808);
    margin-bottom: 10px;
}

.preview-div{
    display: flex;
    height: 10vh;
}

#upload{
    height: 60%;
}

.cancel-pfp{
    cursor: pointer;
    color: inherit;
    border: 1px solid #adadad;
    background-color: white;
    color: black;
    padding: 10px;
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
    margin-left: 20px;
}

.user-modal-options{
    padding-top: 10px;
}

.search-results{
    background-color: white;
    border: 1px solid #ababab;
    position: absolute;
    z-index: 100;
    width: 45%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 4px;
    overflow: hidden;
    overflow-y: scroll;
}

.search-results-dark{
    color: white;
    background-color: rgb(29, 29, 29);;
}

.search-div{
    width: 45%;
    margin-left: 20%;
    position: static;
    height: fit-content;
}

.search-item{
    box-sizing: content-box;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 4px 28px 8px 8px;
    border-radius: 4px;
}

.search-item:hover{
    color: white;
    font-weight: bold;
    background-color: #1264a3;
}

#pfp11{
    width: 25px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px
}

#hash{
    font-size: 30px;
    width: 25px;
    border-radius: 5px;
    margin: 0px 10px 0px 10px
}

#search-desc{
    font-size: 14px;
    color: #9e9e9e;
    margin-left: 10px;
}

.clear-search{
    cursor: pointer;
    color: white;
    margin-left: -30px;
    font-size: 12px;
}

.clear-search:hover{
    color: #dadada;
}

#active-circle{
    font-size: 10px;
    margin-left: 7px;
}

.search-result-div{
    width: 100%;
    text-decoration: none;
    color: white;
}

.search-item a{
    width: 100%;
}