.channel-div {
    border-radius: 6px;
    margin-left: 10px;
    padding-left: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    margin-right: 10px;
}

.channel-div a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 17px;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: inherit;
    color: #c5c5c5;
    margin-right: auto;
    line-height: 28px;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
    cursor: pointer;
}

.channel-div:hover {
    margin-right: 15px;
    background-color: rgba(235, 235, 235, 0.116);
}

.channel-name {
    text-decoration: none;
    font-size: 15px;
    opacity: 1;
    overflow: hidden;
    box-sizing: inherit;
    color: #c5c5c5;
    margin-right: auto;
    line-height: 28px;
    font-weight: 400;
    cursor: pointer;
}

.blue-chan {
    margin-right: 15px;
    background-color: rgb(39, 102, 173);
}

.blue-chan:hover{
    background-color: rgb(39, 102, 173);
}


.add-link {
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    opacity: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: inherit;
    color: #eaeaea;
    margin-right: auto;
    line-height: 28px;
    font-variant-ligatures: common-ligatures;
    font-weight: 400;
}

#channels-bar {
    margin-top: 10px;
    max-height: 80%;
    overflow: hidden;
    overflow-y: scroll;
}

.channel-item:focus{
    text-decoration: none;
}

.you{
    margin-left: 5px;
    color: #c5c5c58e;
}

#pfp9{
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin-right: 10px;
}

.dm-channel-container{
    display: flex;
    align-items: center;
}