#add-pfp2{
    font-weight: bold;
    font-size: 20px;
    padding-left: 30px;
}

#status-block{
    display: flex;
    justify-content: center;
}

.status-button{
    width: 90%;
    color: gray;
    background-color: white;
    border: solid 1px rgb(197, 197, 197);
    cursor: pointer;
    padding: 8px 70px 8px 1px;
    border-radius: 3px;
}

.status-button-dark{
    color: rgb(194, 193, 193);
    background-color: rgb(36, 36, 36);
    border-color: gray;
}

#smiley:after{
    content: '😶';
    margin-right: 15px;
}

.status-button:hover{
    #smiley:after{
        content: "😁";
    }
    border: solid 1px gray;
    color: black;
}

.status-button-dark:hover{
    #smiley:after{
        content: "😁";
    }
    border: solid 1px gray;
    color: white;
}

.status-input{
    width: 75%;
    padding: 13px 13px 13px 50px;
    font-size: 20px;
    margin-left: 30px;
    border-radius: 5px;
    border: 1px solid gray
}

.status-input-dark{
    background-color: rgb(46, 46, 46);
    color: white;
}

#status-input:focus{
    outline: none;
    box-shadow: 0 0 15px #719ECE;
}

#status-wrapper {
    margin-top: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modal-status {
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    height: 35vh;
    min-height: 470px;
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46668;
    font-family: 'Lato', sans-serif;
    border-radius: 8px;
    padding-top:30px;
    padding-right: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.modal-status-dark {
    color: white;
    background-color: rgb(39, 39, 39);
    transition: background-color .5s ease;
}

#emoji-preview{
    position: absolute;
    font-size: 30px;
    margin-left: 40px;
}

#aa-status {
    margin-top: 40px;
}

#aa-status h2{
    color: rgb(143, 142, 142);
    font-size: 13px;
    font-weight: 700;
    line-height: 1.38563;
    margin-bottom: 15px;
    padding-left: 40px;
}

#status-list li{
    cursor: pointer;
    padding: 5px 0px 5px 0px;
    width: 100%;
}

#status-list p{
    
    padding-left: 40px;
}

#status-list li:hover{
        color: white;
        background-color: #1164A3;
}

.button-div2{
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
    margin-top: 30px
}

.cancel-pfp-dark{
    background-color: rgb(39, 39, 39);
    color: white;
}

.cancel-pfp-dark:hover{
    background-color: rgb(54, 54, 54);
}