#sec {
    font-weight: bold;
}

span {
    font-family: 'Lato', sans-serif;
}

.already {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.already p {
    margin-bottom: 1px;
}

#navlink {
    color: #1264a3;
    text-decoration: none;
    cursor: pointer;
}

#sign-up-form {
    padding-top: 10px;
    margin: auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}